# Python
__pycache__/
*.pyc

# Environment & Secrets
.env
authorized.json

# Temporary Files
audio_files/
___backup versioni/
.DS_Store
note.md

# macOS System Files
._*
._*/
.__*
.AppleDouble
.LSOverride

# Virtual Environment
venv/
.venv/
env/
