# Python
__pycache__/
*.pyc

# Environment & Secrets
.env
.env.*
!.env.example
authorized.json
*.sqlite
*.sqlite3
*.db

# opencode files
.sisyphus/
.opencode/
.tmp/

# Installer scripts
install.sh

# Temporary Files
audio_files/
___backup versioni/
.DS_Store
note.md

# macOS System Files
._*
._*/
.__*
.AppleDouble
.LSOverride

# Virtual Environment
venv/
.venv/
env/
.pytest_cache/
